@import "_variables";
@import "_mixins";

.footer {
    height: 224px;
    width: 100%;
    border-top: 2px solid var(--main-col);
    margin-bottom: 36px;
}
.footer_container {
    @include Flex(false, space-between, row, false);
    width: 940px;
    margin: 40px auto 0;
    .footer_box{
        flex-basis: 25%;
        .footer_subtitle{
            @include Fons("Montserrat,400", bold, 14px, 17px);
            color: #444444;
            margin-bottom: 10px;
        }
        .footer_list li{
            list-style: none;
            @include Fons("Roboto,300", 300, 14px, 26px);
            color: #999999;
        }
        &.footer_logo{
            text-align: right;
        }
    }
    .footer_title{
        color: var(--main-col);
        @include Fons("Montserrat,400", normal, 16px, 20px);
    }
}

// ** media queries **

@media (max-width: 960px) {
    .footer {
        margin-bottom: 20px;
        width: 100%;
    }
    .footer_container {
        width: 748px;
        margin: 40px auto 0;
        .footer_block_left {
            width: 450px;
        }
    }
}

@media screen and (max-width: 768px){
    .footer .footer_container{
        width: calc(100% - 30px);
    }
}

@media screen and (max-width: 578px){
    .footer {
        .footer_container{
            margin-top: 30px;
            flex-direction: column;
            text-align: center;
            .footer_list{
                @include Flex(center, center, row, nowrap);
                margin-bottom: 10px;
                & li:not(:first-child){
                    margin-left: 10px;
                }
            }
            .footer_box.footer_logo{
                text-align: center;
            }
        }
        .footer_title{
            margin-bottom: 10px;
        }
    }
}