@import '_variables';
@import '_mixins';

.header_wrapper{
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 999;
}
.header{
    margin: 30px auto;
    width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat,400';
    .header_items{
        .header_item{
            color: var(--sec-col);
        }
        .header_item.singup{
            border: 2px solid var(--sec-col);
            border-radius: 40px;
            padding: 10px 18px;
            margin-left: 20px;
        }
    }
    .title{
        @include Fons(inherit, bold, 20px, 24px);
        color: var(--sec-col);
    }
}

// ** media queries **

@media screen and (max-width: 960px){
    .header{
        width: 748px;
    }    
}

@media screen and (max-width: 768px){
    .header{
        width: 100%;
        padding: 0 30px;
    }
}

@media screen and (max-width: 578px){
    body .container_top{
        .container_top_title{
            width: 90%;
            font-size: 32px;
                line-height: 40px;
        }
        .container_top_context{
            font-size: 22px;
        }
    }
    .header{
        padding: 0 15px;
        & > .title{
            font-size: 13px;
        }
    }
}