@import '_variables';
@import '_mixins';
@import '_fonts';
@import '_reset';
@import 'header';
@import 'footer';
@import '_loops';

.main{
    width: 940px;
    margin: 95px auto 100px;
}

.container_top{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/header/header_image.jpg');
    background-position: center;
    background-size: cover;
    color: var(--sec-col);
    .container_top_title{
        @include Fons('Montserrat,600', bold, 52px, 63px);
        text-align: center;
        width: 470px;
    }
    .container_top_context{
        @include Fons('Roboto,300', 300, 24px, 24px);
        text-align: center;
        margin: 30px auto 85px;
    }
    .container_top_button{
        @include Fons('Montserrat,400', bold, 14px, 17px);
        padding: 12px 19px 11px;
        background-color: var(--main-col);
        border-radius: 40px;
        color: var(--sec-col);
        border: none;
        outline: none;
        border: 2px solid var(--main-col);
        transition: all 0.3s;
        &:hover{
            border-color: var(--sec-col);
            background-color: transparent;
        }
    }
}
.section_dreamshare_works{
    width: 100%;
    .dreamshare_works_title{
        @include Fons('Montserrat,600', bold, 26px, 32px);
        color: #444444;
        margin-bottom: 35px;
        text-align: center;
    }
    .dreamshare_works_imgs{
        width: 100%;
        @include Flex(false, space-between, row, false);
        .dreamshare_works_img{
            flex-basis: calc(33.33% - 13px);
            height: 400px;
            color: #ffffff;
            padding: 0 25px 21px;
            overflow: hidden;
            border-radius: 4px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            background-size: cover;
            background-position: center;
            position: relative;
            &:after{
                content: '';
                position: absolute;
                left: 50%;
                top: 50%;
                width: 0px;
                height: 0px;
                background-color: rgba(#ff4e50, 0.5);
                z-index: 0;
                transition: all 0.3s;
            }
            &:hover{
                &::after{
                    transform: translate(-50%, -50%);
                    width: 100%;
                    height: 100%;
                }
            }
            & > .icon{
                @include Fons('Montserrat,400', normal, 14px, 12px);
                letter-spacing: 2px;
                padding: 5px 14px;
                background: var(--main-col);
                width: max-content;
                border-radius: 40px;
                z-index: 1;
            }
            & > .title{
                @include Fons('Montserrat,400', bold, 24px, 26px);
                margin: 15px auto 20px;
                width: 100%;
                z-index: 1;
            }
            & > .description{
                @include Fons('Roboto,300', 300, 14px, 14px);
                color: #E3E3E3;
                z-index: 1;
            }
        }
    }
}
.section_meet_partner{
    width: 100%;
    margin: 95px auto;
    color: #444444;
    .meet_partner_title{
        @include Fons('Montserrat,400', bold, 26px, 32px);
        text-align: center;
    }
    .meet_partner_partners_wrapper{
        display: flex;
        justify-content: space-between;
        margin: 36px auto;
        .partner_container{
            width: 25%;
            text-align: center;
            div{
                width: min-content;
                margin: 0 auto;
            }
            div img{
                width: 120px;
                height: 120px;
                border-radius: 50%;
            }
            .title_name{
                @include Fons('Montserrat,400', bold, 14px, 17px);
                margin: 17px auto 15px;
            }
            .description{
                @include Fons('Roboto,300', 300, 14px, 14px);
                color: #666666;
                width: 90%;
                margin: auto;
            }
            .partner_photo_box{
                position: relative;
            }
            .partner_photo_box:after{
                width: 16px;
                height: 16px;
                border-radius: 50%;
                position: absolute;
                right: 0;
                bottom: 0;
                border: 4px solid var(--sec-col);
                padding: 8px;
                box-sizing: content-box;
            }
        }
    }
    .meet_partner_button{
        text-align: center;
        button{
            @include Fons('Montserrat,400', bold, 14px, 17px);
            color: var(--main-col);
            padding: 12px 22px 11px;
            border: 2px solid var(--main-col);
            background-color: var(--sec-col);
            border-radius: 40px;
            outline: none;
            transition: color 0.5s, background-color 0.5s;
            &:hover{
                color: var(--sec-col);
                background-color: var(--main-col);
            }
        }
    }
}
.section_discover_holiday{
    width: 100%;
    color: #FFFFFF;
    @include Fons('Montserrat,400', bold, 22px, 27px);
    .section_discover_holiday_title{
        @include Fons('Montserrat,400', bold, 26px, 32px);
        color: #444444;
        margin-bottom: 35px;
        text-align: center;
    }
    .section_discover_holiday_box{
        @include Flex(center, space-between, row, wrap);
        .section_discover_holiday_elem{
            @include Flex(center, center, false, false);
            text-align: center;
            background-size: cover;
            background-position: center;
            margin-bottom: 20px;
            height: 280px;
            padding: 10px;
            position: relative;
            overflow: hidden;
            &:nth-child(1), &:nth-child(2), &:nth-child(3){
                flex-basis: calc(33.33% - 13px);
            }
            &:nth-child(4), &:nth-child(7){
                flex-basis: calc(40% - 10px);
            }
            &:nth-child(5), &:nth-child(6){
                flex-basis: calc(60% - 10px);
            }
            span{
                z-index: 1;
            }
            &::after, &::before{
                content: '';
                position: absolute;
                width: 50%;
                height: 0px;
                background-color: rgba(#ff4e50, 0.5);
                z-index: 0;
                transition: height 0.3s;
            }
            &::after{
                left: 50%;
                bottom: 0;
            }
            &::before{
                left: 0;
                top: 0;
            }
            &:hover::after, &:hover::before{
                height: 100%;
            }
        }
    }
}
.section_create_holiday{
    width: 100%;
    margin: 90px auto;
    text-align: center;
    & > .title{
        @include Fons('Montserrat,400', bold, 26px, 32px);
        color: #444444;
    }
    & > .description{
        @include Fons('Roboto,300', 300, 18px, 24px);
        color: #666666;
        margin: 43px auto 25px;
    }
    .form_wrapper{
        width: 500px;
        margin: 0 auto;
        .form{
            display: flex;
            align-items: center;
            justify-content: space-between;
            input{
                @include Fons('Roboto,300', 300, 14px, 16px);
                color: #999999;
                width: 300px;
                height: 40px;
                padding-left: 10px;
                &:focus{
                    border: 1px solid var(--main-col);
                    border-radius: 3px;
                }
            }
            button{
                @include Fons('Montserrat,400', bold, 14px, 17px);
                color: #FFFFFF;
                padding: 12px 27px 11px;
                background: var(--main-col);
                border-radius: 40px;
                border: 2px solid var(--main-col);
                transition: all 0.3s;
                &:hover{
                    border-color: var(--main-col);
                    background-color: transparent;
                    color: var(--main-col);
                }
            }
        }
    }
}

// ** media queries **

@media screen and (max-width: 960px){
    body{
        width: 100%;
    }
    .main{
        width: 748px;
    }
    .section_meet_partner{
        width: 492px;
        .meet_partner_title{
            @include Fons('Montserrat,400', bold, 22px, 27px);
        }
        .meet_partner_partners_wrapper{
            flex-wrap: wrap;
            margin-bottom: 40px;
            .partner_container {
                width: 50%;
                &:first-child{
                    margin-bottom: 54px;
                }
            }
        }
        
    }
    .section_discover_holiday .section_discover_holiday_title,
    .section_create_holiday > .title{
        @include Fons('Montserrat,400', bold, 22px, 27px);
    }
}

@media screen and (max-width: 768px){
    .main{
        width: calc(100% - 30px);
        margin: 35px auto 40px;
    }
    .section_dreamshare_works .dreamshare_works_imgs{
        flex-direction: column;
        .dreamshare_works_img{
            flex-basis: 240px;
            &:not(:first-child){
                margin-top: 20px;
            }
        }
    }
}

@media screen and (max-width: 578px){
    .section_meet_partner{
        width: 100%;
        .meet_partner_partners_wrapper .partner_container{
            width: 100%;
            margin-bottom: 50px;
        }
    }
    .section_discover_holiday_elem{
        flex-basis: 100%!important;
    }
    .section_create_holiday .form_wrapper{
        width: 100%;
        .form{
            flex-direction: column;
            button{
                margin-top: 20px;
            }
        }
    }
}